---
import LocalFont from '../generic/LocalFont.astro';
import { ViewTransitions } from 'astro:transitions';

interface Props {
  title: string;
  description: string;
  ogImage?: URL;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

if (Astro.props.ogImage === undefined) {
  Astro.props.ogImage = new URL('/v1/generate/og/default.png', Astro.url);
}

const { title, description, ogImage } = Astro.props;

let pageTitle = `${title} | Fither Briano`;

if (Astro.url.pathname === '/archive/' || Astro.url.pathname === '/archive') {
  pageTitle = 'Past Issues of the Copy Café | Fither Briano'; 
}
else if (Astro.url.pathname === '/') {
  pageTitle = 'Fither Briano | the Copy Café';
}
else if (Astro.url.pathname === '/about/' || Astro.url.pathname === '/about') {
  pageTitle = 'Who is Fither Briano? | Fither Briano';
}
else if (Astro.url.pathname.startsWith('/archive/') && Astro.url.pathname !== '/archive/') {
  pageTitle = `${title} | Fither Briano`; 
}
// For all other pages
else {
  pageTitle = `Fither Briano | ${title}`;
}

const metaTitle = pageTitle;

---

<head>
  <LocalFont />
  <meta charset='utf-8' />
  <meta name='viewport' content='width=device-width, initial-scale=1' />
  <meta name='generator' content={Astro.generator} />

  <link
    rel='alternate'
    href='https://fitherbriano.github.io/archive.xml'
    type='application/rss+xml'
  />

  <meta name='title' content={metaTitle} />
  <meta name='description' content={description} />

  <meta property='og:type' content='website' />
  <meta property='og:url' content={canonicalURL} />
  <meta property='og:title' content={metaTitle} />
  <meta property='og:description' content={description} />
  <meta property='og:image' content={ogImage} />

  <meta property='twitter:card' content='summary_large_image' />
  <meta property='twitter:url' content={canonicalURL} />
  <meta property='twitter:title' content={metaTitle} />
  <meta property='twitter:description' content={description} />
  <meta property='twitter:image' content={ogImage} />

  <link rel='canonical' href={canonicalURL} />
  <link rel='icon' type='image/ico' href='/favicon.ico' />

  <title>{metaTitle}</title>
  <script src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js" defer></script>
  <ViewTransitions />

  <slot />
</head>
